.logoimg {
    margin-top: 3vw;
    padding-bottom: 18px;
    left: 0;
    width: 50vw;
    height: 16vh;
    position: absolute;
}

.logoimg_mobile {
    display: none;
}

.navbar-nav > li{
    padding-top: 1vh;
}

.bg-custom-2 {
    background-image: linear-gradient(15deg, #13547a 0%, #0066ff 100%);
}

.navbar-nav .nav-item .nav-link {
    color: white;
    font-size: 1vw;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link .btn {
    color: grey;
}

.loginbtn {
    font-size: 1vw;  
    margin-left: 0.75vw;
}

li > a:after{
    content: '';
    display: block;
    height: 1.5px;
    background: #ffffff;
    transform: scaleX(0);
    transition: transform .3s;
}

li > a:hover:after{
    transform: scaleX(1);
    transition: transform .3s;
}

.btn > a:hover:after{
    transform: scaleX(1);
    transition: transform .3s;
}

.bg-servsafe_light {
    background-color: #00c3ff;
    color: white;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.nav-item {
    cursor: pointer;
}

/* PHONE ZONE - All CSS here is reponsible for mobile devices <= 768px in width*/
@media screen and (max-width: 768px) 
{
    .navbar-nav .nav-item .nav-link {
        color: white;
        font-size: 1vw;
    }

    .logoimg {
        display: none;
    }

    .logoimg_mobile {
        display: block;
        margin-top: 15px;
    }

    .bg-custom-2 {
        background-image: linear-gradient(15deg, #ffffff 0%, #ffffff 100%);
    }

    .navbar-toggler {
        color: #000;
    }

    .navbar-nav .nav-item .nav-link {
        color: grey;
        padding-left: 10px;
        font-size: 3vw;
    }
    
    .navbar-nav .nav-item.active .nav-link,
    .navbar-nav .nav-item:hover .nav-link {
        color: black;
        background-color: rgba(0, 132, 255, 0.2);
        border-radius: 4px;
    }
}

/* TABLET ZONE - All CSS here is responsible for tablet devices*/
@media screen and (max-width: 829px) 
{
    .logoimg {
        display: none;
    }

    .logoimg_mobile {
        width: 80%;
        display: block;
        margin-top: 15px;
    }

    .bg-custom-2 {
        background-image: linear-gradient(15deg, #ffffff 0%, #ffffff 100%);
    }

    .navbar-toggler {
        color: #000;
    }

    .navbar-nav .nav-item .nav-link {
        color: grey;
        padding-left: 10px;
    }
    
    .navbar-nav .nav-item.active .nav-link,
    .navbar-nav .nav-item:hover .nav-link {
        color: black;
        background-color: rgba(0, 132, 255, 0.2);
        border-radius: 4px;
    }
}

/* BIG ZONE - All CSS here is reponsible for large monitors >= 1669px in width*/
@media screen and (min-width: 1669px) {
    .logoimg {
        margin-top: 68px;
        padding-bottom: 20px;
        left: 0;
        width: 45%;
        position: absolute;
    }

    .navbar-nav > li{
        padding-top: 30px;
      }
    
  }