.coursefinder_frame {
    margin-top: 5%;
    background-image: linear-gradient(to right bottom,  #0066ff 0%, #146da0 50%, #ffffff 51%);
    height: 80%;
    width: 100%;
}

.triangle_content {
    color: #ffffff;
    height: 20%;
}

.title {
    font-size: 3vw;
}

.title_border {
    border: 1px solid #ffffff;
    width: 80%;
    margin-left: 0;
}

.explanation_content {
    padding-top: 2vh;
}

.explanation_text1, .explanation_text2, .explanation_text3 {
    font-size: 1.3vw;
}

/* PHONE ZONE - All CSS here is reponsible for mobile devices <= 768px in width*/
@media screen and (max-width: 768px) 
{   
    .title {
        font-size: 3.7vw;
        font-weight: bold;
    }

    .title_border {
        border: 1px solid #ffffff;
        width: 100%;
        margin-left: 0;
    }

    .explanation_text1, .explanation_text2, .explanation_text3 {
        font-size: 3.5vw;
    }

    .explanation_text1 {
        width: 85%;
    }

    .explanation_text2 {
        width: 65%;
    }

    .explanation_text3 {
        width: 50%;
    }

}
