<div class="container-md coursefinder_frame">

    <div class="col col-md-11 triangle_content">


        <div class="col col-md-11 title_content">
            <p class="title">Find the course option that's best for you.</p>

            <hr class="title_border">
        </div>
        
        <div class="col col-md-6 explanation_content">
            <p class="explanation_text1">
                Not sure which course option you should choose? No worry!
                Simply answer a few questions and we'll find the best course
                option for you. 
            </p>
            <p class="explanation_text2">
                At the end of the questionaire, you'll be
                directed to the ServSafe® Certification
                option that's best for you.
            </p>
            <p class="explanation_text3">
                Click the 'Get Started' to begin.
            </p>
        </div>

        
    </div>

    <!-- <div class="d-flex flex-row-reverse">
        <h1 class="pt-5">HEYYYY</h1>
    </div> -->
</div>