<!-- NOTE: Bootstrap does not support using style sheets to modify nav bar components, so inline CSS or a structural directive must be used! -->

<nav class="navbar fixed-top navbar-expand-lg navbar-dark" id="mainNav">
  <a class="navbar-brand" href="index.html">
    <img src="assets/img/logo.jpg" style="height: 70%; width: 70%;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="toggleMobileNav()" [ngClass]="{'collapsed' : toggleCollpase}" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" style="background-color: rgb(68, 218, 255);">
    <span class="navbar-toggler-icon" style="background-color: rgba(128, 128, 128, 0.205); border-radius: 4px;"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02" [ngClass]="{'show' : toggleCollpase}" [ngStyle]="styleMobileNav_Collapse()">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link home" href="#" id="nav-link1" [ngStyle]="styleMobileNav_Links()">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link about" href="#" id="nav-link2" [ngStyle]="styleMobileNav_Links()">Certification Steps</a>
      </li>
      <li class="nav-item">
        <a class="nav-link rgba-red-strong" href="#" id="nav-link3" [ngStyle]="styleMobileNav_Links()">Course Options</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"  target="_blank" id="nav-link4" [ngStyle]="styleMobileNav_Links()">Enroll Here</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"  target="_blank" id="nav-link5" [ngStyle]="styleMobileNav_Links()">Course Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"  target="_blank" id="nav-link6" [ngStyle]="styleMobileNav_Links()">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"  target="_blank" id="nav-link7" [ngStyle]="styleMobileNav_Links()">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>


