.mainlogin_frame {
    margin-top: 5%;
    padding: 5vh;
    width: 50%;
    background-image: linear-gradient(0deg, #146da0 0%, #0066ff 50%);
    border-radius: 10px;
}

label {
    color: white;
}

hr {
    border-color: white;
}

h1, p, a {
    color: white;
}